.text{
    width: 100%;
    background-color: white;
    font-family: 'Quicksand';
    /* justify-content: flex-start;
    text-align: left;
    align-items: center; 
    align-items: center;
    justify-content: left;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px 5px; */
    
    align-items: center;
    justify-content: left;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px 40px;
    text-align: justify;
    
}
.text h2{
 
    text-align: center;
}
.text hr{
    border: 0.2rem solid blue;
    width: 4rem;

}