.mainCtn {
    display: grid;
    grid-template-columns: 50px calc(100vw - 50px - 250px) 250px;
}

.mainArea {
    height: calc(100vh - 175px);
    width: 100%;
    background-color: #f1f1f1;
    overflow: scroll;
}

.BtnCtn {
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 30px;
}

.BtnCtn button {
    padding: 10px;
    width: 140px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-right: 20px;
}

.BtnCtn input {
    padding: 10px;
    width: 180px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-right: 20px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.205);
}

.BtnCtn select {
    padding: 10px;
    width: 180px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-right: 20px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.205);
}

.BtnCtn button:hover {
    background-color: #f1ac2a;
}

/* requests container */

.req_majorCtn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.req_tokenCtn {
    width: 340px;
    height: 200px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.205);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.req_tokenCtn div {
    width: 100%;
}

.req_tokenCtn div button {
    margin: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.req_tokenCtn h3 {
    margin: 4px;
    font-size: 17px;
    font-family: "quicksand";
}

.req_tokenCtn p {
    margin: 4px 20px;
    font-size: 13px;
    text-align: left;
}

.req_tokenCtn p i {
    margin: 4px 20px;
    font-size: 11px;
    text-align: left;
    text-align: justify;
}

.req_tokenCtn hr {
    margin: 0px;
}

.userReq_tokenCtn {
    width: 340px;
    min-height: 230px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.205);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.userReq_tokenCtn div {
    width: 100%;
}

.userReq_tokenCtn div button {
    margin: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.userReq_tokenCtn h3 {
    margin: 4px;
    font-size: 17px;
    font-family: "quicksand";
}

.userReq_tokenCtn p {
    margin: 4px 20px;
    font-size: 13px;
    text-align: left;
}

.userReq_tokenCtn p i {
    margin: 4px 20px;
    font-size: 11px;
    text-align: left;
    text-align: justify;
}

.userReq_tokenCtn hr {
    margin: 0px;
}


/* form to display profile */
.add_majorCtn {
    max-height: 100%;
    padding: 20px 30px;
    text-align: left;
}

.add_majorCtn h2 {
    font-family: 'quicksand';
    margin: 8px 0px;
}

.add_form {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
}

.add_inputCtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    width: 400px;
}

.add_inputCtn label {
    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: 500;
    margin-left: 16px;
    padding: 0px 6px;
    position: relative;
    margin-bottom: -23px;
}

.add_inputCtn textarea {
    border: 2px solid #FFB830;
    resize: none;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 127px;
    margin-top: 10px;
    padding: 14px 14px;
    font-size: 14px;
    font-family: 'poppins';
}

.add_inputCtn input {
    border: 2px solid #FFB830;
    resize: none;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 0px 14px;
    font-size: 14px;
}

.add_inputCtn select {
    border: 2px solid #FFB830;
    resize: none;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 0px 14px;
    font-size: 14px;
}

.add_button {
    height: 40px;
    margin: 0px 8px;
    border-radius: 5px;
    border: none;
    width: 200px;
    font-size: 16px;
    transition-duration: 0.1s;
}

.add_button:hover {
    background-color: #f1ac2a;
    cursor: pointer;
}

.maincancelPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincancelPanel table {
    width: 1220px;
}

.maincancelPanel table tr td {
    padding: 5px;
    max-width: 400px;
}

.maincancelPanel table tr th {
    padding: 5px;
    max-width: 400px;
}

.cancel_btn_cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincancelPanel table tr th button {
    border: none;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
    background-color: rgb(251, 79, 79);
    font-weight: 600;
    color: aliceblue;

}