.line{
    width: 100%;
    height: calc( 100vh - 50px);
    border-right: 1px solid rgb(231, 231, 231);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.line svg{
    color: rgba(0, 0, 0, 0.315);
    display: block;
    transition-duration: 0.2s;
    font-size: 23px;
    cursor: pointer;
}
.icon1:hover{
    color: #FFC659;
}
.icon1Selected{
    color: #FFC659 !important;
}