.icons{
    padding: 350% 30%; 
    width: 20%;
    justify-content: space-between;
     height: 56px;
     border: 100%;
     box-sizing: border-box;
     gap: 30px;
   
}
.line{
    width: 3.5%;
    height: calc( 100vh - 45px);
    border-right: 1px solid rgb(231, 231, 231);
    box-sizing: border-box;
}
.icon1{
   padding: 100% 10%; 
   width: 20px;
   justify-content: space-between;
    height: 56px;
    border: 100%;
    box-sizing: border-box;
    
} 
.icons svg{
    opacity: 0.25;
    display: block;
    
}
.icon1:hover{
    color: yellow;
    
}