.majorContainer{
    font-family: 'Quicksand';
    display: grid;
    grid-template-columns: 1fr 2fr;
    height:100vh;
}
.imgwrapper{
    text-align: left;
    width: 100%;
}

.logo{
    width:100px;
    /* float: left; */
}
.image{
    width:70%;
    opacity: 0.7;
    text-align: left;
    margin-bottom: 40px;
}

.infoCtn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
   
    /* background-color: black; */
}
.infoCtn div{
    width: 100%;
}
.infoCtn h1{
    margin-top: 40px;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.text p{
    opacity: 0.5;
}
.stu{
    font-size: small;
}
