.majorCtn {
    padding: 20px 30px;
    text-align: left;
}

.majorCtnConfP {
    padding: 20px 30px;
    text-align: center;
}

.majorCtnConfP h2 {
    font-family: 'quicksand';
    margin: 8px 0px;
}

.majorCtn h2 {
    font-family: 'quicksand';
    margin: 8px 0px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 90%;
}

.Slide{
    align-items: center;
    position:relative;
    /* margin-top:30px; */
    justify-content: space-between;
}
.Slide .img{
    /* margin-left: 25%; */
}
 .img{
    width:100%;
    height: 100%;
    position: relative;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.Slide img{
    border-radius: 8px;
}
/* .slider-wrapper{
    width:10%;

} */

/* .carousel .thumb{
    width:5%;
    height: 25px;  
} */



/* .carousel{
   position: relative;
   align-items: center;
} */

.inputCtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    /* padding: 20px 30px;*/
    width: 100%;
    text-align: left; 
}

.inputCtn label {
    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: 500;
    margin-left: 16px;
    padding: 0px 6px;
    position: relative;
    margin-bottom: -23px;
}

.inputCtn textarea {
    border: 2px solid #FFB830;
    resize: none;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 127px;
    margin-top: 10px;
    padding: 14px 14px;
    font-size: 14px;
    font-family: 'poppins';
}

.inputCtn input {
    border: 2px solid #FFB830;
    resize: none;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 0px 14px;
    font-size: 14px;
}

.inputCtn select {
    border: 2px solid #FFB830;
    resize: none;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 0px 14px;
    font-size: 14px;
}

.button {
    height: 40px;
    margin: 0px 8px;
    border-radius: 5px;
    border: none;
    width: 200px;
    font-size: 16px;
    transition-duration: 0.1s;
}

.button:hover {
    background-color: #f1ac2a;
    cursor: pointer;
}

/* Lab layout */

.labLayout {
    padding: 8px;
    width: 100%;
    /* height: 55vh; */
}

.mapCtn {
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.mapM {
    height: 400px;
    width: 560px;
}

.info {
    width: 50%;
    height: 650px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.info h5 {
    font-size: 17px;
    font-weight: 500;
    margin: 0px;
}

.info table {
    width: 100%;
    font-size: 12px;
}

.info table tr td {
    padding: 5px 0px;
}

.mapMain {
    height: 400px;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px
}

.labRow1 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 7px;
}

.lab {
    background-color: #ffb73081;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lab:hover {
    background-color: #FFB830;
}

.labRow2 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 7px;
}

.pathRow {
    background-color: #ffb73081;
    height: 24%;
    width: 100%;
    border-radius: 5px;
}

.door1 {
    position: absolute;
    width: 20px;
    height: 7px;
    background-color: #ffb73081;
    margin-top: 172px;
    margin-left: 240px;
}

.door2 {
    position: absolute;
    width: 20px;
    height: 7px;
    background-color: #ffb73081;
    margin-top: 172px;
    margin-left: 350px;
}

.door3 {
    position: absolute;
    width: 20px;
    height: 7px;
    background-color: #ffb73081;
    margin-top: 220.5px;
    margin-left: 240px;
}

.door4 {
    position: absolute;
    width: 20px;
    height: 7px;
    background-color: #ffb73081;
    margin-top: 220.5px;
    margin-left: 350px;
}


/* single Lab map */


.singleLabLayout {
    padding: 8px;
    width: 100%;
    height: fit-content;
}

.labCtn {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px #00000027;
    overflow: scroll;
    gap: 40px;
    padding: 20px;
}

#opt {
    width: 300px !important;
}